@font-face {
    font-family: book;
    font-weight: 400;
    src: url(../font/05-1066-bdh9461.ttf);
}
body,html {scroll-behavior: smooth; overflow-x: hidden;}
/* 공통 */
h1 {
    color:#ff3d00; font-size: 2.5rem;
    font-family: 'book';
}
.profile, .project > div {
    max-width: 1400px; margin:0 auto;
}
.project .link a:hover {color:#ff3d00; transition: 0.3s;}
/* nav */
nav {
    position:fixed; right:50px; bottom:400px; z-index: 999;
    display:flex; flex-flow:column;
}
nav a {margin-top: 20px;}
nav a:hover {color:#ff3d00;}
/* 1.인트로 */
.bg {
    background-image: url(../imgaes/bg.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 0;
    height:100vh;
}
.bg .intro {text-align: center; position:relative;}
.bg .intro h1 {
    font-size: 15.625rem;
}
.bg .intro > p {
    position: absolute; top:84px; right:625px;
    animation: move 0.8s ease infinite alternate-reverse;
}
@keyframes move {
    0% {transform: translateY(0);}
    100% {transform: translateY(15px);}
}
.bg .intro p img {}
.bg .intro .center {
    display: flex; flex-flow: row wrap; align-items: center; justify-content: center; transform: translateY(-40px);
}
.bg .intro .center .info {font-size: 1.25rem; color:#ff3d00;}
.bg .intro .center .info::after {
    content: ''; width: 380px; height: 1px;
    background-color: #ff3d00; display:inline-block;
    position:relative; bottom:5px; margin: 0 60px;
}
.bg .intro .center .year {font-size: 3.75rem; color:#ff3d00;}
/* 2. 프로필 */
.profile {padding:80px 0 0;}
.profile h1 {margin-bottom:50px;}
.profile .txt {display:flex; justify-content: space-between;}
.profile .txt > p {}
.profile .txt > p img {transform: translateY(5px);}
.profile .txt .txt_info {display: flex; justify-content: flex-end; width:100%;}
.profile .txt ul {position:relative;}
.profile .txt ul:first-child {margin-right: 100px;}
.profile .txt ul:first-child li:last-child .info_detail p:first-child {
    margin-bottom: 5px;
}
.profile .txt ul:last-child {margin-left: 15px;}
.profile .txt ul:last-child::after {display: none;}
.profile .txt ul::after {
    content: ''; width:1px; height: 600px;
    position: absolute; right:-50px; top:0;
    background-color: #eee;
}
.profile .txt ul li {display: flex; margin-top: 40px; align-items: flex-start;}
.profile .txt ul li p {margin-right: 10px; font-size: 1.125rem;}
.profile .txt ul li p img {position:relative; top:3px;}
.profile .txt ul li .info_detail {margin-bottom: 15px;}
.profile .txt ul li .info_detail:nth-child(5),
.profile .txt ul li:first-child,
.profile .txt ul li:nth-child(4) .big_detail .info_detail:nth-child(2) {margin:0;}
.profile .txt ul li .info_detail .date {color:#656565;}
.profile .txt ul li .info_detail {}
.profile .txt ul li .big_detail {}
.profile .txt ul li .big_detail .info_detail {}
.profile .txt ul li .big_detail .info_detail .date {}
.profile .txt ul li .big_detail .info_detail p {}
.profile .txt ul li .big_detail .info_detail p em {
    color:#656565;
}
/* 3. 스킬 */
.skills {
    background-color: #f8f8f8; padding:70px 260px 100px;
}
.skills h1 {margin-bottom: 50px;}
.skills .skills_info {display:flex; flex-flow:row wrap;}
.skills .skills_info li {display:flex; width:50%; margin-bottom: 70px;}
.skills .skills_info li:nth-child(7),
.skills .skills_info li:nth-child(8) {
    margin:0;
}
.skills .skills_info li p {margin-right: 33px;}
.skills .skills_info li p img {}
.skills .skills_info li .skills_txt {}
.skills .skills_info li .skills_txt h2 {
    font-size: 1.25rem; font-weight: 600;
}
.skills .skills_info li .skills_txt p {
    font-size: 1.125rem; margin-top: 8px;
}
/* 4. 프로젝트 */
.project {/* width:1522px; */ margin:0 auto; text-align: center; padding:80px 0;}
.project h1 {margin-bottom: 50px;}
/* 4-1. 웹 */
.project .web {position:relative;
margin-bottom: 150px;}
.project .web .swiper {max-width:1300px;}
.project .web .swiper .swiper-wrapper {}
.project .web .swiper .swiper-wrapper .swiper-slide {
    display: flex;
}
.project .web .swiper .swiper-wrapper .swiper-slide .thum {
    margin-right: 50px;
}
.project .web .swiper .swiper-wrapper .swiper-slide .thum img {}
.project .web .swiper .swiper-wrapper .swiper-slide .info {
    text-align: left; font-size: 1.125rem;
}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_title {margin-bottom: 50px;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_title p {color:#ff3d00;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_title p img {}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_detail {}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_detail li {display: flex; margin-bottom: 20px;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_detail li:last-child {margin-bottom: 50px;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_detail li h2 {margin-right: 20px; font-weight: 700;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .info_detail li p {}
.project .web .swiper .swiper-wrapper .swiper-slide .info .overview {}
.project .web .swiper .swiper-wrapper .swiper-slide .info .overview h2 {font-weight: 700; margin-bottom: 10px;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .overview p {}
.project .web .swiper .swiper-wrapper .swiper-slide .info .link {display: flex; justify-content: space-between; margin-top: 50px;}
.project .web .swiper .swiper-wrapper .swiper-slide .info .link a {border:1px solid #e2e2e2; padding:10px 45px; border-radius: 10px;}
.project .web .swiper-button-prev {}
.project .web .swiper-button-next {}
.project .web div[class^=swiper-button] {color:#dddddd;}
/* 4-2. 랜딩페이지(코딩) */
.project .landing {position:relative; margin-bottom: 150px;}
.project .landing .swiper {max-width:1300px;}
.project .landing .swiper .swiper-wrapper {}
.project .landing .swiper .swiper-wrapper .swiper-slide {
    display: flex;
}
.project .landing .swiper .swiper-wrapper .swiper-slide .thum {
    margin-right: 50px;
}
.project .landing .swiper .swiper-wrapper .swiper-slide .thum img {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info {
    text-align: left; font-size: 1.125rem;
}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_title {margin-bottom: 50px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_title p {color:#ff3d00; margin-bottom: 10px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_title p img {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_detail {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_detail li {display: flex; margin-bottom: 20px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_detail li:last-child {margin-bottom: 50px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_detail li h2 {margin-right: 20px; font-weight: 700;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .info_detail li p {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .overview {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .overview h2 {font-weight: 700; margin-bottom: 10px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .overview p {}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .link {display: flex; justify-content: space-between; margin-top: 50px;}
.project .landing .swiper .swiper-wrapper .swiper-slide .info .link a {border:1px solid #e2e2e2; padding:10px 45px; border-radius: 10px;}
.project .landing .swiper-button-prev {}
.project .landing .swiper-button-next {}
.project .landing div[class^=swiper-button] {color:#dddddd;}
/* 4-3 모바일 */
.project h1 {}
.project .mobile {display: flex; margin-bottom: 150px;}
.project .mobile .thum {margin-right: 50px; width:684px;}
.project .mobile .thum img {width:100%;}
.project .mobile .info {text-align: left; font-size: 1.125rem;}
.project .mobile .info .info_title {margin-bottom: 50px;}
.project .mobile .info .info_title p {color:#ff3d00; margin-bottom: 10px;}
.project .mobile .info .info_title p img {}
.project .mobile .info .info_detail {margin-bottom: 50px;}
.project .mobile .info .info_detail li {display: flex; margin-bottom: 20px;}
.project .mobile .info .info_detail li h2 {margin-right: 20px; font-weight: 700;}
.project .mobile .info .info_detail li p span {
    font-weight: 600; font-size: 1rem;
}
.project .mobile .info .overview {}
.project .mobile .info .overview h2 {font-weight: 700; margin-bottom: 10px;}
.project .mobile .info .overview p {}
.project .mobile .info .link {display: flex; justify-content: flex-start; margin-top: 50px;}
.project .mobile .info .link a {border:1px solid #e2e2e2; padding:10px 45px; border-radius: 10px;}
.project .mobile .info .link a:first-child {margin-right: 50px;}
/* 4-4. 상세 */
.project .detail {margin-bottom: 150px; text-align: left;}
.project .detail p {margin-bottom: 10px; color:#ff3d00;}
.project .detail .swiper {height:500px;} /* overflow:hidden 내장 */
.project .detail .swiper-slide a {position:relative; display: block; height: 500px;}
.project .detail .swiper-slide a::after {
    content: ''; display: block; height:100px; width:100%;
    background: linear-gradient(360deg, #fff, transparent);
    position: absolute; left:0; bottom:0;
}
.project .detail .swiper-slide img {width: 100%;}
/* 상세 팝업 */
.big_bg {
    position:fixed; left:0; top:0; z-index: 999;
    width:100%; height:100vh;
    background: rgba(0,0,0,0.6);
}
.big_bg .img {
    max-width: 50vw; margin:30px auto;
    height:90vh; overflow-y: auto; overflow-x: hidden;
}
.big_bg .img img {width:100%;}
/* 스크롤바 꾸미기 */
.big_bg .img::-webkit-scrollbar {
    background-color: #333;
    width: 4px; height: 10px;
}
.big_bg .img::-webkit-scrollbar-thumb {
    background-color: #ff3d00;
}
/* 4-5 SNS */
.project .sns {max-width: 1920px; margin-bottom: 150px;}
.project .sns .swiper {}
.project .sns .swiper-wrapper {transition-timing-function: linear;} /* 일정속도 */
.project .sns .swiper-slide {align-self: center; width:470px;} /* flex 내장 */
.project .sns .swiper-slide img {width:100%; box-shadow: 3px 3px 10px rgba(0,0,0,0.2);}
/* 4-6 poster */
.project .poster {max-width: 1920px; margin-bottom: 150px;}
.project .poster .swiper {}
.project .poster .swiper-wrapper {transition-timing-function: linear;} /* 일정속도 */
.project .poster .swiper-slide {align-self: center; width:400px;}
.project .poster .swiper-slide img {width:100%;}
/* 4-7 branding & packaging */
.project .package_branding {position:relative; margin-bottom: 100px;}
.project .package_branding .swiper {max-width:1300px;}
.project .package_branding .swiper .swiper-wrapper {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide {
    display: flex;
}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .thum {
    margin-right: 50px;
}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .thum img {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info {
    text-align: left; font-size: 1.125rem;
}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_title {margin-bottom: 50px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_title p {color:#ff3d00; margin-bottom: 10px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_title p img {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail li {display: flex; margin-bottom: 20px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail li:last-child {margin-bottom: 50px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail li h2 {margin-right: 20px; font-weight: 700;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail li p {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .info_detail li p span {font-size: 1rem; font-weight: 600;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .overview {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .overview h2 {font-weight: 700; margin-bottom: 10px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .overview p {}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .link {display: flex; justify-content: space-between; margin-top: 50px;}
.project .package_branding .swiper .swiper-wrapper .swiper-slide .info .link a {border:1px solid #e2e2e2; padding:10px 45px; border-radius: 10px;}
.project .package_branding .swiper-button-prev {}
.project .package_branding .swiper-button-next {}
.project .package_branding div[class^=swiper-button] {color:#dddddd;}
/* 5. contact */
.contact {max-width: 1300px; margin:0 auto; padding:100px 0 200px; border-top: 1px solid #e2e2e2;}
.contact h1 {margin-bottom: 50px; margin-top: 20px;}
.contact .contact_info {display: flex; justify-content: space-between; align-items: center;}
.contact .contact_info p {}
.contact .contact_info p img {}
.contact .contact_info .contact_txt {position: relative;}
/* .contact .contact_info .contact_txt::before {
    content: ''; display: inline-block; width:1px; height:200px;
    background-color: #e2e2e2; position:absolute; left: -150px;
    top:20px;
} */
.contact .contact_info .contact_txt h2 {font-size: 1.875rem; color:#ff3d00; margin-bottom: 40px;}
.contact .contact_info .contact_txt p {line-height: 1.7; margin-bottom: 40px;}
.contact .contact_info .contact_txt .contact_way {
    display: flex;
}
.contact .contact_info .contact_txt .contact_way span {
    display:flex;
}
.contact .contact_info .contact_txt .contact_way span:first-child {
    margin-right: 20px;
}
.contact .contact_info .contact_txt .contact_way span img {margin-right: 10px;}